@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
}
  
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-weight: bold;
    src: url('Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf');
}
  
table.pxgraf-table
{
    font-size: 1em;
    border-collapse: collapse;
    table-layout: auto;
    border-style: solid;
    border-color: #0073b0;
    border-width: 0.5px 0.25px;
}
  
.pxgraf-table caption
{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-bottom: 8px;
}
  
.pxgraf-table th,
.pxgraf-table td
{
    font-family: 'Barlow Semi Condensed', sans-serif;
    vertical-align: bottom;
    border-style: solid;
    border-color: #0073b0;
    padding: 8px 10px;
}
  
.pxgraf-table th
{
    font-size: 1rem;
    text-align: left;
    min-width: 30px;
    background-color: #f2f8fb;
    border-width: 0.5px;
}
  
.pxgraf-table td
{
    font-size: 0.9rem;
    text-align: right;
    white-space: nowrap;
    background-color: #ffffff;
    border-width: 0.25px;
}
  
.pxgraf-table tr:hover td,
.pxgraf-table tr:hover th:not([scope="rowgroup"])
{
    background-color: #cce3fe;
}

.pxgraf-table-note,
.pxgraf-table-source {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    margin: 8px 0px 0px 0px;
}
  