<?xml version ="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${configsetting:item=LogOptions.Folder}\internal-nlog-AspNetCore.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name ="logsPath" value="${configsetting:item=LogOptions.Folder}" />
	
	<targets>
		<target xsi:type="File" name="own" filename="${var:logsPath}\nlog-${shortdate}.log" >
			<layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="10" indentJson="true" >
				<attribute name="sysid" layout="${configsetting:item=LogOptions.SysId}" />
				<attribute name="status" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="datetime" layout="${longdate}" />
				<attribute name="descr" layout="${message}: ${exception:format=ToString}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="client" layout="${aspnet-request-ip}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Fatal" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Fatal" final="true" />
		<logger name="*" minlevel="${configsetting:item=LogOptions.Level}" writeTo="own" />
	</rules>
</nlog>