<?xml version ="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${configsetting:item=LogOptions.Folder}\internal-nlog-AspNetCore.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logsPath" value="${configsetting:item=LogOptions.Folder}" />
	<variable name="textLogEnabled" value="${when:when='${configsetting:item=LogOptions.Folder}'!='':inner=true:else=false}" />
	<variable name="auditEnabled" value="${configsetting:item=LogOptions.AuditLog.Enabled:default=false}" />
	<variable name="aiEnabled" value="${when:when='${configsetting:item=LogOptions.ApplicationInsightsConnectionString}'!='':inner=true:else=false}" />
	
	<targets>
		<!-- Regular application logs -->
		<target xsi:type="File" name="own" filename="${var:logsPath}\nlog-${shortdate}.log" >
			<layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="10" indentJson="true" >
				<attribute name="Sysid" layout="${configsetting:item=LogOptions.SysId}" />
				<attribute name="Status" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="Datetime" layout="${longdate}" />
				<attribute name="Descr" layout="${message}: ${exception:format=ToString}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
			</layout>
		</target>
		
		<!-- Dedicated target for audit logs -->
		<target xsi:type="File" name="audit" filename="${var:logsPath}\audit-${shortdate}.log">
			<layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="10" indentJson="true">
				<attribute name="Sysid" layout="${configsetting:item=LogOptions.SysId}" />
				<attribute name="Datetime" layout="${longdate}" />
				<attribute name="Method" layout="${aspnet-request-method}" />
				<attribute name="Path" layout="${aspnet-request-url}" />
				<attribute name="Category" layout="${scopeproperty:item=Category}" />
			</layout>
		</target>
		
		<target xsi:type="ApplicationInsightsTarget" name="aiTarget">
			<connectionString>${configsetting:item=LogOptions.ApplicationInsightsConnectionString}</connectionString>
		</target>
	</targets>

	<rules>
		<!-- Audit logs go to the audit target -->
		<logger name="PxGraf.Services.AuditLogService" minlevel="Info" writeTo="audit" 
			enabled="${when:when='${auditEnabled}'=='true'}" final="true" />
		
		<!-- Skip Microsoft and System logs -->
		<logger name="Microsoft.*" maxlevel="Fatal" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Fatal" final="true" />

		<!-- Application Insights logs go to the AI target (when enabled) -->
		<logger name="*" minlevel="Info" writeTo="aiTarget" 
				enabled="${when:when='${aiEnabled}'=='true'}" />
		
		<!-- All other logs go to the regular target -->
		<logger name="*" minlevel="${configsetting:item=LogOptions.Level}" writeTo="own" 
				enabled="${when:when='${textLogEnabled}'=='true'}"/>
	</rules>
</nlog>